body
{
  padding: 0px;
  margin: 0px;
  //background-color: 8ee4af;
}
div
{
  padding: 0px;
  margin: 0px;
}

a
{
  text-decoration: none;
  color:white;
}

#logoBox
{
  position: absolute;
  top:0px;
  left: 40px;
  width: 200px;
  height: 100px;
  background-color:;
  z-index: 1;
}

#navBar
{
  width: 100%;
  height: 50px;
  background-color: grey;
}
