body
{
  padding: 0px;
  margin: 0px;
  //background-color: 8ee4af;
}
div
{
  padding: 0px;
  margin: 0px;
}

a
{
  text-decoration: none;
  color:white;
}

#logoBox
{
  position: absolute;
  top:0px;
  left: 40px;
  width: 200px;
  height: 100px;
  background-color:;
  z-index: 1;
}

#navBar
{
  width: 100%;
  height: 50px;
  background-color: grey;
}


#searchBox
{
  width: 100%;
  padding-top:10px;
  padding-bottom: 10px;

}

#searchBoxInner
{
  width:50%;
  //background-color:pink;
  position: absolute;
  left:50%;
  transform: translate(-50%,0%);

}

#searchInputBox
{
  width:500px;
  height: 40px;
  display: inline;
  float: left;
  background-color: green;
}

#searchButton
{
  padding-left: 10px;
  height: 40px;
  display: inline;
  float: left;
}

#searchTrail
{
  width: 100%;
  height: 100%;
  font-size: 20px;
}

#searchClickButton
{
  width: 150px;
  height: 40px;
  background-color: gray;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
}


#testPage
{
  height: 400px;
  width: 100%;
  //background-color: pink;
}















#marginSmallVertical
{
  height: 10px;
  width: 100%;
}


#marginSmallHorizontal
{
  height: 100%;
  width: 20px;
}


#marginNormalVertical
{
  height: 20px;
  width: 100%;
}


#marginNormalHorizontal
{
  height: 100%;
  width: 50px;
}
